/* ########################### Elements by tags ########################### */

h1 {
    text-align: center;
    margin-top: 1rem;
}

h2 {
    text-align: center;
}


/* ########################### Elements by class ########################### */

.container {
    height: 100%;
}

.dropListContainer {
    width: 100%;
    max-width: 100%;
    /* margin: 0 25px 25px 0; */
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.dropList {
    border: solid 1px #ccc;
    min-height: 3.75rem;
    max-height: calc(100% - 3rem);
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    height: calc(100% - 3rem);
    overflow: hidden;
    margin-bottom: 1rem;
}

.scroll-y {
    overflow-y: scroll;
}

.example-box {
    padding: 20px 10px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    margin: 1rem;
    width: calc(100% - 2.25rem);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-title {
    margin-bottom: 0;
}


/* ########################### Elements by id ########################### */

#dropListGroup {
    display: flex;
    width: 100%;
    height: 100%;
}

#dropListRow {
    height: calc(100% - 6rem);
}

#btnAddTask {
    margin-top: .8rem;
    position: absolute;
    right: 1rem;
}