<div style="position: relative;">
    <ngx-ui-loader></ngx-ui-loader>
</div>
<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>Tasklist</h1>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" id="btnAddTask" data-toggle="modal" data-target="#createEditModal" (click)="createEditTask(0)">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </div>
    </div>
    <div class="row" id="dropListRow">
        <div cdkDropListGroup id="dropListGroup">
            <div class="col">
                <div class="dropListContainer">
                    <h2>TO DO</h2>
                    <div cdkDropList [cdkDropListData]="todo" class="dropList" [ngClass]="{'scroll-y': todoLength > 6}" (cdkDropListDropped)="drop($event)">
                        <button type="button" class="example-box btn btn-default" *ngFor="let item of todo" data-toggle="modal" data-target="#createEditModal" cdkDrag (click)="createEditTask(item.id, 1)">{{item.title}}</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dropListContainer">
                    <h2>DOING</h2>
                    <div cdkDropList [cdkDropListData]="doing" class="dropList" [ngClass]="{'scroll-y': doingLength > 6}" (cdkDropListDropped)="drop($event)">
                        <button type="button" class="example-box btn btn-default" *ngFor="let item of doing" data-toggle="modal" data-target="#createEditModal" cdkDrag (click)="createEditTask(item.id, 2)">{{item.title}}</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dropListContainer">
                    <h2>DONE</h2>
                    <div cdkDropList [cdkDropListData]="done" class="dropList" [ngClass]="{'scroll-y': doneLength > 6}" (cdkDropListDropped)="drop($event)">
                        <button type="button" class="example-box btn btn-default" *ngFor="let item of done" data-toggle="modal" data-target="#createEditModal" cdkDrag (click)="createEditTask(item.id, 2)">{{item.title}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-create-edit-modal [task]="_createEditTask" *ngIf="_createEditTask" (reload)="reloadTasks($event)"></app-create-edit-modal>