.modal-title {
    margin: 0;
}

#modal-footer-container {
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

#btnSave {
    position: absolute;
    right: 1rem;
}