<div class="modal fade" id="createEditModal" tabindex="-1" role="dialog" aria-labelledby="createEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="createEditModalLabel">{{modalTitle}}</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="createEditTask()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="taskTitle"><strong>Title:</strong></label>
                        <input type="text" name="title" [(ngModel)]="task.title" id="taskTitle" class="form-control" min="1" max="100">
                    </div>
                    <div class="form-group">
                        <label for="taskDescription"><strong>Description:</strong></label>
                        <textarea class="form-control" id="taskDescription" name="description" [(ngModel)]="task.description" rows="3"></textarea>
                    </div>
                </div>
                <div class="container" id="modal-footer-container">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-danger" [disabled]="task.id == 0" (click)="deleteTask()">Delete</button>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>